@model HuntControl.Domain.Concrete.spr_animal_group_type
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
<script>
    $(document).ready(function () {
        jQuery("#AddAnimalGroupTypeForm").validate().settings.ignore = ".bs-select-hidden";
        $(".select2").select2();
        $("select").on("select2:close", function (e) {
            $(this).valid();
        });
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Добавление группы видов</h4>
        </div>
        <div class="modal-body">

            @using (Ajax.BeginForm("SubmitAnimalGroupTypeSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "animalGroupTypesPillContainer", OnSuccess = "$('#myModal').modal('hide'); successAdd();" }, new { @id = "AddAnimalGroupTypeForm", @class = "form-horizontal" }))
            {
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.spr_animal_group_id, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.spr_animal_group_id, ViewBag.AnimalGroups as SelectList, "Выберите группу", new Dictionary<string, object> { { "class", "form-control select2 input-sm" } })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.identity_, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.identity_, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.identity_) })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.group_type_name, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.group_type_name, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.group_type_name) })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="AddAnimalGroupTypeForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
