@model HuntControl.WebUI.Models.CaseViewModel
<link href="~/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap.js"></script>
<script>
    $(function() {
        $(document).ready(function () {
            var oTable = $('#servicesTable').DataTable({ dom: 't' });
            $('#searchTextServices').keyup(function () {
                oTable.search($(this).val()).draw();
            });
        });
        $('#servicesTable tbody tr').click(function() {
            $(this).addClass('success');
            var sprServicesSubId = $(this).data('sprServicesSubId');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PartialTableTariffs", "Case")',
                data: { sprServicesSubId: sprServicesSubId, recipient: '@Model.Recipient' },
                success: function(data) {
                    $('#tariffsTableContainer').html(data);
                }
            });
        });
    });
</script>
<h3 class="panel-title">Выберите услугу</h3>
<div class="row m-t-20 m-b-20">
    <div class="col-md-12">
        <div class="card-box p-0">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn waves-effect waves-light btn-link p-l-20-important"><i class="fa fa-search"></i></button>
                </span>
                <input type="text" id="searchTextServices" class="text-dark no-border-input" placeholder="Поиск"><ul class="typeahead dropdown-menu"></ul><ul class="typeahead dropdown-menu"></ul>
            </div>
            <table id="servicesTable" class="table table-striped table-hover" style="margin-top: 0 !important; margin-bottom: 0 !important;">
                <thead>
                    <tr>
                        <th class="min-width-th"></th>
                        <th>@Html.DisplayNameFor(m => Model.SprServicesSubSelectResultList.FirstOrDefault().out_service_mnemo)</th>
                        <th>@Html.DisplayNameFor(m => Model.SprServicesSubSelectResultList.FirstOrDefault().out_service_name)</th>
                        <th>@Html.DisplayNameFor(m => Model.SprServicesSubSelectResultList.FirstOrDefault().out_service_provider_name)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.SprServicesSubSelectResultList)
                    {
                        <tr data-spr-services-sub-id="@service.out_spr_services_sub_id">
                            <td class="vertical-middle"><i class="fa fa-check-circle"></i></td>
                            <td>@Html.DisplayFor(m => service.out_service_mnemo)</td>
                            <td><span data-type="serviceName">@Html.DisplayFor(m => service.out_service_name)</span></td>
                            <td><span data-type="providerName">@Html.DisplayFor(m => service.out_service_provider_name)</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<div id="tariffsTableContainer">

</div>
