<div class="row m-b-10">
    <div class="col-md-12">
        @*@using (Ajax.BeginForm("PartialModalWizardAddSeason", "Season", null, new AjaxOptions { UpdateTargetId = "myModal", OnSuccess = "$('#myModal').modal('show');" }, new { @class = "form-submit" }))
        {
            <button type="submit" class="btn btn-default waves-effect waves-light btn-sm"> Мастер добавления <i class="fa fa-magic m-l-5"></i></button>
        }*@

        @using (Ajax.BeginForm("PartialModalWizardAddHuntSeason", "Season", null, new AjaxOptions { UpdateTargetId = "myModal", OnSuccess = "$('#myModal').modal('show');" }, new { @class = "form-submit" }))
        {
            <button type="submit" class="btn btn-default waves-effect waves-light btn-sm"> Мастер добавления <i class="fa fa-magic m-l-5"></i></button>
        }

    </div>
</div>
<div class="app-content" id="season_hunting_farms">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-actions form-group-sm  m-b-0">
                        <div class="row">
                            <div class="col-md-12 m-b-10">
                                <label class="font-12 text-muted p-t-0 m-b-0">Тип охотугодья</label>
                                @Html.DropDownList("sprHuntingFarmsTypeId", ViewBag.SprHuntingFarmsType as SelectList, "Все", new Dictionary<string, object> { { "class", "select2 form-control input-sm" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="huntingFarmContainer">
                @Html.Action("PartialTableHuntingFarms", "Season")
            </div>
        </div>
        <div class="col-md-8 m-t-20" id="huntingFarmSeasonStepsContainer">
            <div class="alert alert-warning">
                <span style="color: #00545c;"><strong><i class="icon-info"></i></strong> Выберите охотугодье</span>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
<script>
    //$(function () {
    //    $(".icons-tab-steps").steps({ enablePagination: false, headerTag: "h6", bodyTag: "fieldset", transitionEffect: "fade", titleTemplate: '<span class="step"></span> #title#', labels: { finish: "Submit" }, onFinished: function () { alert("Form submitted.") } });
    //});

    $(document).ready(function () {
        $("#season_hunting_farms .select2").select2();
    });

    $(document).on("click", "#huntingFarmContainer tbody > tr:not(.group) > td:not(.actions)", function () {
        $("#huntingFarmContainer tbody tr").each(function () {
            $(this).removeClass('active');
        });
        $(this).closest('tr').addClass('active');
        var huntingFarmId = $(this).closest('tr').data('huntingFarmId');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTableHuntingFarmSteps", "Season")',
            data: { huntingFarmId: huntingFarmId },
            success: function (data) {
                $("#huntingFarmSeasonStepsContainer").html(data);
            }
        });
    });

      //выбор типа охотугодья
    $("#sprHuntingFarmsTypeId").on("change", function () {
        $.ajax({
            url: '@Url.Action("PartialTableHuntingFarms", "Season")',
            type: 'Post',
            data: { search: '@ViewBag.Search', isRemove: '@ViewBag.IsRemove', sprHuntingFarmsTypeId: $(this).val() },
            success: function (data) {
                $('#huntingFarmContainer').html(data);
            }
        });
    });

</script>

