@model HuntControl.Domain.Concrete.spr_animal
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
<link href="~/Content/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/plugins/bootstrap-fileinput/themes/explorer/theme.min.css" rel="stylesheet" />
<script src="~/Content/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="~/Content/plugins/bootstrap-fileinput/themes/explorer/theme.min.js"></script>
<script src="~/Content/plugins/bootstrap-fileinput/js/locales/ru.js"></script>
<script>
    $(document).ready(function () {
        $("#uploadImage").fileinput({
            theme: "explorer",
            showUpload: false,
            maxFileCount: 1,
            language: 'ru',
            browseClass: 'btn btn-default',
            allowedFileExtensions: ['jpg', 'png', 'jpeg', 'bmp']
        });

        jQuery("#AddAnimalForm").validate().settings.ignore = ".bs-select-hidden";
        $(".select2").select2();
        $("select").on("select2:close", function (e) {
            $(this).valid();
        });
    });

    $('button[form="AddAnimalForm"]').click(function () {
            var form = document.forms.AddAnimalForm;
            var formData = new FormData(form);
            $.ajax({
                url: '@Url.Action("SubmitAnimalSave", "Reference")',
                type: 'POST',
                data: formData,
                processData: false, // Не обрабатываем файлы (Don't process the files)
                contentType: false, // Так jQuery скажет серверу что это строковой запрос
                success: function (data) {
                    successAdd();
                    $('#animalsPillContainer').html(data);
                    $('#myModal').modal('hide');
                }
            });
        });
</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Добавление животного</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SubmitAnimalSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "animalsPillContainer", OnSuccess = "$('#myModal').modal('hide');successAdd();" }, new { @id = "AddAnimalForm", @class = "form-horizontal" }))
            {
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.Label("uploadImage", "Изображение", new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            <input id="uploadImage" name="uploadImage" type="file">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.spr_animal_group_type_id, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.spr_animal_group_type_id, ViewBag.AnimalGroupTypes as SelectList, "Выберите группу видов", new Dictionary<string, object> { { "class", "form-control select2 input-sm" } })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.animal_name, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.animal_name, new { @class = "form-control", @placeholder = "Введите наименование", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.animal_description, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.animal_description, new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.animal_description) })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="button" form="AddAnimalForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
