@model IEnumerable<HuntControl.Domain.Concrete.ReportTotalHuntingFarmResult>

@if (Model.Any())
{
    <div class="card-box p-0 m-t-20 m-b-20">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn waves-effect waves-light btn-link p-l-20-important"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="searchTextReports" class="text-dark no-border-input" placeholder="Поиск..."><ul class="typeahead dropdown-menu"></ul><ul class="typeahead dropdown-menu"></ul>
        </div>
        <table id="datatable" class="table table-striped table-bordered" style="margin-top: 0 !important">
            <thead>
            <tr class="text-nowrap">
                <th rowspan="2" class="p-l-20-important">№ п/п</th>
                <th rowspan="2">Охотугодье</th>
                <th colspan="3" class="text-center">Бланки</th>
                <th colspan="4" class="text-center">Животное</th>
            </tr>
            <tr class="text-nowrap">
                <th>Кол-во</th>
                <th>Выдано</th>
                <th>Остаток</th>
                <th>Кол-во</th>
                <th>Выдано</th>
                <th>Остаток</th>
                <th>Добыто</th>
            </tr>
            </thead>
            <tbody>
                @{ int index = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="p-l-20-important">@(index++)</td>
                        <td>@Html.DisplayFor(model => item.out_hunting_farm_name)</td>
                        <td>@Html.DisplayFor(model => item.out_count_form)</td>
                        <td>@Html.DisplayFor(model => item.out_count_form_issued)</td>
                        <td>@Html.DisplayFor(model => item.out_count_form_result)</td>
                        <td>@Html.DisplayFor(model => item.out_limit_animal)</td>
                        <td>@Html.DisplayFor(model => item.out_count_animal_issued)</td>
                        <td>@Html.DisplayFor(model => item.out_count_animal_result)</td>
                        <td>@Html.DisplayFor(model => item.out_count_animal_mined)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('#datatable').DataTable({ dom: 't<"row m-t-10 p-l-20-important p-b-10 m-r-15"<"col-sm-4"i><"col-sm-8"p>>' });
            $('#searchTextReports').keyup(function () {
                oTable.search($(this).val()).draw();
            });
        });
    </script>
}
else
{
    <div class="alert alert-warning">
        <span><i class="icon-info"></i> Нет данных.</span>
    </div>
}
    <script>
    $(document).ready(function () {
         $("#report_count").text(@Model.Count());
     });
    </script>