@model HuntControl.WebUI.Models.ReferenceViewModel
<div class="row">
    <div class="col-sm-10">
        <h3 class="panel-title m-b-5">Список банков</h3>
    </div>
    <div class="col-sm-2">
        <div class="text-right">
            @using (Ajax.BeginForm("PartialModalAddBank", "Reference", null, new AjaxOptions { UpdateTargetId = "myModal", OnSuccess = "$('#myModal').modal('show');" }, new { @class = "form-submit" }))
            {
                <button type="submit" class="btn btn-inverse waves-effect waves-light btn-sm btn-block m-b-10"> Добавить <i class="fa fa-plus m-l-5"></i></button>
            }
        </div>
    </div>
</div>
<div class="panel panel-border panel-primary">
    <div class="panel-heading p-0">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn waves-effect waves-light btn-link p-l-20-important"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="searchTextBanks" class="text-dark no-border-input" placeholder="Поиск банков" value="@ViewBag.Serach"><ul class="typeahead dropdown-menu"></ul><ul class="typeahead dropdown-menu"></ul>
            <span class="input-group-btn">
                <button id="showRemoves" type="button" class="link p-r-20-important text-custom"><i class="@(ViewBag.IsRemove ? "ion-ios7-trash" : "ion-ios7-trash-outline") m-l-5" style="font-size: 20px;" data-placement="bottom" data-toggle="tooltip" data-original-title="@(ViewBag.IsRemove ? "Скрыть удаленные" : "Показать удаленные")"></i></button>
            </span>
        </div>
    </div>
    <hr class="m-0">

    <div class="panel-body p-0 table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="number-row p-l-20-important">№</th>
                    <th>@Html.DisplayNameFor(model => model.SprBankList.First().bank_name)</th>
                    <th>@Html.DisplayNameFor(model => model.SprBankList.First().address_full)</th>
                    <th class="text-right p-r-20-important">
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SprBankList)
                {
                    <tr data-bank-id="@item.id" class="@(item.is_remove == true ? "danger" : "")">
                        <td class="number-row p-l-20-important">
                            @((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.ItemsPerPage + ++Model.PageInfo.NumberRow)
                        </td>
                        <td>
                            <span>@Html.DisplayFor(i => item.bank_name)</span><br>
                        </td>
                        <td class="font-13">
                            @Html.DisplayFor(i => item.address_full)
                        </td>
                        <td class="actions">
                            <button type="button" class="on-default text-custom link" style="font-size: 22px;line-height: 22px;" data-tooltip-info='{"bank_name": @Json.Encode(item.bank_name), "address_full": @Json.Encode(item.address_full), "bank_ks": @Json.Encode(item.bank_ks), "bank_bik": @Json.Encode(item.bank_bik), "employees_fio": @Json.Encode(item.employees_fio), "employees_fio_modifi": @Json.Encode(item.employees_fio_modifi ?? "-"), "set_date": "@Html.DisplayFor(i=>item.set_date)", "is_remove": @Json.Encode(item.is_remove), "date_remove": "@Html.DisplayFor(i=>item.date_remove)", "employees_fio_remove": @Json.Encode(item.employees_fio_remove), "commentt_remove": @Json.Encode(item.commentt_remove)}'>
                                <i class="ion-ios7-information-outline"></i>
                            </button>
                            @if (User.IsInRole("superadmin") || User.IsInRole("admin"))
                            {
                                if (item.is_remove != true)
                                {
                                    using (Ajax.BeginForm("PartialModalEditBank", "Reference", new { bankId = item.id }, new AjaxOptions { UpdateTargetId = "myModal", OnSuccess = "$('#myModal').modal('show');" }, new { @class = "form-submit" }))
                                    {
                                        <button class="on-default edit-row link"><i class="ion-edit"></i></button>
                                    }
                                    <button class="on-default remove-row link"><i class="ion-trash-b"></i></button>
                                }
                                else
                                {
                                    <button class="on-default recovery-row link" data-placement="top" data-toggle="tooltip" data-original-title="Восстановление"><i class="fa fa-history"></i></button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Показаны @((Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage > Model.PageInfo.TotalItems) ? Model.PageInfo.TotalItems : Model.PageInfo.CurrentPage * Model.PageInfo.ItemsPerPage) из @Model.PageInfo.TotalItems записей</div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="datatable-editable_paginate">
                    @Html.PageLinks(Model.PageInfo, x => Ajax.ActionLink(x.NameLink, "PartialTableBanks", "Reference", new { page = x.CurrentPage, search = ViewBag.Serach }, new AjaxOptions { UpdateTargetId = "banksContainer" }))
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        $('button[data-tooltip-info]').tooltip({
            title: function () {
                var tooltipInfo = $(this).data('tooltipInfo');
                console.log(tooltipInfo);
                return "<div class='text-left'><strong>Наименование</strong>: " + tooltipInfo['bank_name'] + "</br>" +
                    "<strong>Адрес</strong>: " + tooltipInfo['address_full'] + "</br>" +
                    "<strong>Кор. счёт</strong>: " + tooltipInfo['bank_ks'] + "</br>" +
                    "<strong>БИК</strong>: " + tooltipInfo['bank_bik'] + "</br>" +
                    "<hr class='m-t-5 m-b-5'>" +
                    "<strong>Добавил</strong>: " + tooltipInfo['employees_fio'] + "</br>" +
                    "<strong>Дата добавления</strong>: " + tooltipInfo['set_date'] + "</br>" +
                    "<hr class='m-t-5 m-b-5'>" +
                    "<strong>Изменил</strong>: " + tooltipInfo['employees_fio_modifi'] + "</br>" +
                    (tooltipInfo['is_remove'] ?
                            "<hr class='m-t-5 m-b-5'>" +
                            "<strong>Удалил</strong>: " + tooltipInfo['employees_fio_remove'] + "</br>" +
                            "<strong>Причина удаления</strong>: " + tooltipInfo['commentt_remove'] + "</br>" +
                            "<strong>Дата удаления</strong>: " + tooltipInfo['date_remove'] + "</br>" : "") +
                    "</div>";
            },
            html: true,
            placement: "left"
        });
    });
    $('#searchTextBanks').change(function () {
        $.ajax({
            url: '@Url.Action("PartialTableBanks", "Reference")',
            type: 'Post',
            data: { search: $(this).val(), isRemove: '@ViewBag.IsRemove' },
            success: function (data) {
                $('#banksContainer').html(data);
            }
        });
    });
    $('#showRemoves').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTableBanks", "Reference")',
            data: { search: $('#searchTextBanks').val(), isRemove: '@(!ViewBag.IsRemove)' },
            success: function (data) {
                $('#banksContainer').html(data);
            }
        });
    });

    $('#banksContainer table td button.recovery-row').click(function () {
        var bankId = $(this).closest('tr').data('bankId');
        var paramObject = {
            url: '@Url.Action("SubmitBankRecovery", "Reference")',
            params: { bankId: bankId },
            onSuccess: function (data) {
                $('#banksContainer').html(data);
            }
        }
        removeRecovery(paramObject);
    });

    $('#banksContainer table td button.remove-row').click(function () {
        var bankId = $(this).closest('tr').data('bankId');
        var paramObject = {
            url: '@Url.Action("SubmitBankDelete", "Reference")',
            params: { bankId: bankId },
            onSuccess: function (data) {
                $('#banksContainer').html(data);
            }
        }
        removeWithComment(paramObject);
    });
</script>