@model IEnumerable<HuntControl.Domain.Concrete.ReportHuntingLicIssuedReestrResult>
@if (Model.Any())
{
    <div class="card-box p-0 m-t-20 m-b-20">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn waves-effect waves-light btn-link p-l-20-important"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="searchTextReports" class="text-dark no-border-input" placeholder="Поиск..."><ul class="typeahead dropdown-menu"></ul><ul class="typeahead dropdown-menu"></ul>
        </div>
        <table id="datatable" class="table table-striped" style="margin-top: 0 !important">
            <thead>
                <tr class="text-nowrap">
                    <th class="p-l-20-important">@Html.DisplayNameFor(model => model.out_customer_name)</th>
                    <th>@Html.DisplayNameFor(model => model.out_doc_birth_date)</th>
                    <th>@Html.DisplayNameFor(model => model.out_actual_address)</th>
                    <th>@Html.DisplayNameFor(model => model.out_serial_license)</th>
                    <th>@Html.DisplayNameFor(model => model.out_number_license)</th>
                    <th>@Html.DisplayNameFor(model => model.out_snils)</th>
                    <th class="p-r-20-important">@Html.DisplayNameFor(model => model.out_issue_date)</th>
                    <th class="p-r-20-important"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="p-l-20-important">@Html.DisplayFor(model => item.out_customer_name)</td>
                        <td>@Html.DisplayFor(model => item.out_doc_birth_date)</td>
                        <td>@Html.DisplayFor(model => item.out_actual_address)</td>
                        <td>@Html.DisplayFor(model => item.out_serial_license)</td>
                        <td>@Html.DisplayFor(model => item.out_number_license)</td>
                        <td>@Html.DisplayFor(model => item.out_snils)</td>
                        <td class="p-r-20-important">@Html.DisplayFor(model => item.out_issue_date)</td>
                        <td class="p-r-20-important">
                            <button class="btn btn-link btn-sm" onclick="window.open('@Url.Action("Main","ApplicantPage")#@item.out_data_customer_id')"> ФЛ <i class="ion-chevron-right m-l-5"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('#datatable').DataTable({ dom: 't<"row m-t-10 p-l-20-important p-b-10 m-r-15"<"col-sm-4"i><"col-sm-8"p>>' });
            $('#searchTextReports').keyup(function () {
                oTable.search($(this).val()).draw();
            });
        });
    </script>
}
else
{
    <div class="alert alert-warning">
        <span><i class="icon-info"></i> Нет данных.</span>
    </div>
}
<script>
    $(document).ready(function () {
         $("#report_count").text(@Model.Count());
     });
</script>