@model IEnumerable<HuntControl.Domain.Concrete.ReportReestrCountServiceResult>

@if (Model.Any())
{
    <div class="card-box p-0 m-t-20 m-b-20">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn waves-effect waves-light btn-link p-l-20-important"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" id="searchTextReports" class="text-dark no-border-input" placeholder="Поиск..."><ul class="typeahead dropdown-menu"></ul><ul class="typeahead dropdown-menu"></ul>
        </div>
        <table id="datatable" class="table table-striped" style="margin-top: 0 !important">
            <thead>
                <tr class="text-nowrap">
                    <th class="p-l-20-important">@Html.DisplayNameFor(model => model.out_provider_name)</th>
                    <th>@Html.DisplayNameFor(model => model.out_service_name)</th>
                    <th>@Html.DisplayNameFor(model => model.out_service_count)</th>
                    <th>@Html.DisplayNameFor(model => model.out_service_tariff)</th>
                    <th>@Html.DisplayNameFor(model => model.out_service_charge)</th>
                    <th>@Html.DisplayNameFor(model => model.out_service_tariff_sum)</th>
                    <th class="p-r-20-important">@Html.DisplayNameFor(model => model.out_service_charge_sum)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="p-l-20-important">@Html.DisplayFor(model => item.out_provider_name)</td>
                    <td>@Html.DisplayFor(model => item.out_service_name)</td>
                    <td>@Html.DisplayFor(model => item.out_service_count)</td>
                    <td>@Html.DisplayFor(model => item.out_service_tariff)</td>
                    <td>@Html.DisplayFor(model => item.out_service_charge)</td>
                    <td>@Html.DisplayFor(model => item.out_service_tariff_sum)</td>
                    <td class="p-r-20-important">@Html.DisplayFor(model => item.out_service_charge_sum)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('#datatable').DataTable({ dom: 't<"row m-t-10 p-l-20-important p-b-10 m-r-15"<"col-sm-4"i><"col-sm-8"p>>' });
            $('#searchTextReports').keyup(function () {
                oTable.search($(this).val()).draw();
            });
        });
    </script>
}
else
{
    <div class="alert alert-warning">
        <span><i class="icon-info"></i> Нет данных.</span>
    </div>
}
    <script>
    $(document).ready(function () {
         $("#report_count").text(@Model.Count());
     });
    </script>