@model IEnumerable<HuntControl.Domain.Concrete.EpguVisitTimeSelectResult>
<ul class="alert-list list">
    @if (Model.Any())
    {
        foreach (var item in Model.OrderBy(s => s.out_visit_time))
        {
            <li class="m-b-5 alert-item" data-type="smev">
                <div class="row">
                    <div class="alert-item-icon">
                        <i class="fa fa-user icon-alert" title="Заявитель с госпортала"></i>
                    </div>
                    <div class="alert-item-data">
                        <ul class="list-item-data m-b-0">
                            <li onclick="window.open('@Url.Action("Main", "Case", new {infoId = item.out_data_services_info_id })')">
                                <a>
                                    <span class="applicant case-num-color">@item.out_fio </span>
                                </a>
                            </li>
                            <li onclick="window.open('@Url.Action("Main", "Case", new {infoId = item.out_data_services_info_id })')">
                                <span class="text-left font-12"> <i class="fa fa-clipboard"></i>@item.out_spr_services_sub_name</span><br />
                                <span class="text-right font-12"><i class="fa fa-clock-o"></i>@item.out_visit_time</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li>
            <div class="alert alert-info">
                <span style="color:#00545c;"><strong><i class="icon-info"></i></strong> Нет данных.</span>
            </div>
        </li>
    }
</ul>

<script>
    $('#epguBarContainer').mCustomScrollbar({
        theme: "dark",
        setHeight: "96%"
    });

    var count = @Model.Count();
    if(count > 0){
        $('#epguBarBtn span.badge').text(count).show();
    }
    else{
        $('#epguBarBtn span.badge').text(count).hide();
    }
</script>