@model IEnumerable<HuntControl.Domain.Concrete.ReportDataCustomerViolationsReestrResult>
<link href="~/Content/css/print-report.css" rel="stylesheet" />
<style>
    @@media print {
        @@page {
            size: landscape;
        }
        .page {
            height: auto;
            width: 100%;
            page-break-after: always;
        }
        table thead th, table tbody td {
            font-size: 10px !important;
            padding: 5px !important;
        }
        .dl-horizontal dt {
            min-width: 90px;
        }
        .dl-horizontal dd {
            margin-left: 110px;
        }

        thead {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
        #printable th {
            text-align: center;
            padding: 2px; /* Поля вокруг содержимого ячеек */
            border: 1px solid black; /* Граница вокруг ячеек */
            font-size: 8.0pt;
            font-weight: bold;
        }

        h6 {
            margin: 10px !important;
        }
        /*---*/
        .report_head {
            padding-bottom: 5px;
        }

            .report_head table tbody td {
                font-size: 12px !important;
                padding: 3px !important;
            }

        .org_name {
            font-size: 18px;
            font-weight: bold;
        }

        .report_name {
            text-align: left;
            font-size: 16px;
            font-weight: bold;
        }

        .head-left {
            border-right: 1px solid black;
        }

        .head-center {
            padding: 0 !important;
            border-right: 1px solid black;
        }
    }
</style>

<div id="printable">
    <div class="report_head">
        <table width="100%">
            <tr>
                <td><img src="~/Content/img/docGebLogo.png" align="top" height="80%" /></td>
                <td width="30%;" class="text-left head-left" valign="top">
                    <span class="org_name">Министерство природных ресурсов <br />и экологии Республики Дагестан</span>
                </td>
                <td width="40%" valign="top" class="head-center">
                    <div class="report_name">Сведения о нарушениях</div>
                    <table width="100%">                        
                        <tr><td width="1" class="text-left">Период:</td><td><b>@ViewBag.Period</b></td></tr>
                        <tr><td class="text-left">Статья:</td><td><b>@ViewBag.Violation</b></td></tr>
                        <tr><td class="text-left">Отдел:</td><td><b>@ViewBag.Department</b></td></tr>
                        <tr><td class="text-left">Сотрудник:</td><td><b> @ViewBag.Employee</b></td></tr>
                    </table>
                </td>
                <td width="20%" valign="top">
                    <table>
                        <tr><td>Распечатал:</td></tr>
                        <tr><td>@ViewBag.PrintEmployee</td></tr>
                        <tr><td>@DateTime.Now</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- page 1 start-->
    <div class="page">        
        <table class="table text-center">
            <thead style="font-size:8px;">
                <tr>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_number_case)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_date_in_ogm)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_number_protocol)</span></th>
                    <th><span>Кем составлен протокол</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_date_create)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_place_protocol)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_customer_name)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_customer_address)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_customer_phone_number)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_pr_birth_date)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_violations_name)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_def_date_sent)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_def_date_handing)</span></th>
                    <th><span>Дата и номер постновления</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_res_amount_fine)</span></th>
                    <th><span>Дата и номер направления постановления</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_res_date_handing)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_res_date_entry)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_res_payment)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_bai_date_sent)</span></th>
                    <th><span>@Html.DisplayNameFor(model => model.out_tr_date_sent)</span></th>
                </tr>

            </thead>
            <tbody>
                <tr class="small-cells">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(i => item.out_pr_number_case)</td>
                        <td>@item.out_pr_date_in_ogm.ToString().Replace(" 0:00:00", "")</td>
                        <td>@Html.DisplayFor(i => item.out_pr_number_protocol)</td>
                        <td>-</td>
                        <td>@item.out_pr_date_create.ToString().Replace(" 0:00:00", "")</td>
                        <td>@Html.DisplayFor(i => item.out_pr_place_protocol)</td>
                        <td>@Html.DisplayFor(i => item.out_pr_customer_name)</td>
                        <td>@Html.DisplayFor(i => item.out_pr_customer_address)</td>
                        <td>@Html.DisplayFor(i => item.out_pr_customer_phone_number)</td>
                        <td>@item.out_pr_birth_date.ToString().Replace(" 0:00:00", "")</td>
                        <td>@Html.DisplayFor(i => item.out_violations_name)</td>
                        <td>@item.out_def_date_sent.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_def_date_handing.ToString().Replace(" 0:00:00", "")</td>
                        <td>@Html.DisplayFor(i => item.out_res_date) @Html.DisplayFor(i => item.out_res_number)</td>
                        <td>@Html.DisplayFor(i => item.out_res_amount_fine) + @Html.DisplayFor(i => item.out_res_amount_harm)</td>
                        <td>@item.out_res_date_receiving_letter.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_res_date_handing.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_res_date_entry.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_res_payment.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_bai_date_sent.ToString().Replace(" 0:00:00", "")</td>
                        <td>@item.out_tr_date_sent.ToString().Replace(" 0:00:00", "")</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>