@model HuntControl.Domain.Concrete.spr_hunting_farm_animal
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>
@using (Ajax.BeginForm("SubmitHuntingFarmAnimalSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "huntingFarmAnimalsContainer", OnSuccess = "successEdit();$('#collapseEditHuntingFarmAnimals').collapse('hide');" }, new { @class = "form-horizontal" }))
{

    <div class="row m-b-15">
        <div class="col-sm-12">
            <hr class="m-t-0" />
        </div>
        <div class="col-sm-6">
            <h3 class="panel-title">Изменение данных животного</h3>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-cancel waves-effect waves-light m-r-5" onclick="$('#collapseEditHuntingFarmAnimals').collapse('hide'); $('#animalAddBtn').show(); $('#collapseEditHuntingFarmAnimals table tr').removeClass('warning');"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-6">
            @Html.LabelFor(model => model.spr_animal_id, new { @class = "font-13" })
            @Html.DropDownListFor(model => model.spr_animal_id, ViewBag.Animals as SelectList, "Выберите животное", new Dictionary<string, object> { { "class", "selectpicker" }, { "data-style", "btn-white btn-sm" } })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.area_habitat, new { @class = "font-13" })
            @Html.TextBoxFor(model => model.area_habitat, new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.area_habitat) })
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12">
            @Html.LabelFor(model => model.commentt, new { @class = "font-13" })
            @Html.TextAreaFor(model => model.commentt, new { @class = "form-control", @placeholder = Html.DisplayNameFor(model => model.commentt) })
        </div>
    </div>

        <div class="row">
            <div class="col-sm-12">
                <hr class="m-t-0" />
            </div>
        </div>
}