@model HuntControl.Domain.Concrete.spr_services
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.custom.validate.js"></script>
<script src="~/Content/plugins/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Изменение данных услуги</h4>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SubmitServiceSave", "Reference", Model, new AjaxOptions { UpdateTargetId = "servicesContainer", OnSuccess = "$('#myModal').modal('hide');successEdit();" }, new { @id = "EditServiceForm", @class = "form-horizontal" }))
            {
                <div class="form-group form-group-sm">
                    <div class="row">
                        @Html.LabelFor(model => model.spr_services_type_id, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.spr_services_type_id, ViewBag.ServiceTypes as SelectList, "Выберите вид услуги", new Dictionary<string, object> { { "class", "selectpicker" }, { "data-style", "btn-white btn-sm" } })
                        </div>
                    </div>
                </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.service_mnemo, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.service_mnemo, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.service_mnemo) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.service_name, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.service_name, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.service_name) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.service_name_small, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.service_name_small, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.service_name_small) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.service_regulations, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.service_regulations, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.service_regulations) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.frgu_services_id, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.frgu_services_id, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.frgu_services_id) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.frgu_services_name, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.frgu_services_name, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.frgu_services_name) } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="row">
                                @Html.LabelFor(model => model.commentt, new Dictionary<string, object> { { "class", "col-md-4 control-label text-right" } })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.commentt, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", Html.DisplayNameFor(model => model.commentt) } })
                                </div>
                            </div>
                        </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel waves-effect waves-light" data-dismiss="modal"><i class="fa fa-times m-r-5"></i> Отмена</button>
            <button type="submit" form="EditServiceForm" class="btn btn-success waves-effect waves-light"> Сохранить <i class="fa fa-check m-l-5"></i></button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
